{% extends 'base.html' %}
{% block title %} Author List Page {% endblock %}
{% block extra_css %}
<style>
    h1{
        color: white;
    }
    a.author {
        text-decoration: none;
        font-size: large;
        color: white;
    }

    a.author:hover {
        color: rgb(157, 201, 157);
        font-size: larger;
    }

    /* Author List Container */
    .author-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #0b0b0b;
        padding: 1rem;

    }  
    .add-blog-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
    }

    .add-blog-button .btn {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
    }

    .add-blog-button .btn:hover {
        background-color: #0056b3;
    }

    .add-blog-button .btn:active {
        background-color: #00438a;
    }

    .add-blog-button .btn:focus {
        outline: none;
    }
</style>
{% endblock %}

{% block content %}
<div class="add-blog-button">
    <a href="{% url 'blog:author_create' %}" class="btn btn-primary">Add Author</a>
</div> 

<div class="author-list">
    <h1>Authors:</h1>
    {% for author in object_list %}
    <ul>
        <li>
            <a class="author" href="{% url 'blog:authordetailview' author.id %}">{{author.name}}</a>
        </li>
    </ul>
    {% endfor %}
</div>

{% endblock %}