{% extends 'base.html' %}
{% block title %}Blog Detail Page{% endblock %}
{% block extra_css %}
<style>
    .header {
        padding: 0px;
        font-size: 28px;
        text-align: center;
        background-color: #333;
        color: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        color: #333;
    }

    .date-writer {
        text-align: right;
        font-size: 16px;
        font-style: italic;
        margin-top: 0px;
        color: #888;
    }

    #comments {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f0f0f0;
    }

    #comments > p {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    #comments li {
        list-style-type: none;
        margin-bottom: 10px;
    }

    #comments li p {
        font-size: 16px;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        color: #333;
        background-color: #f9f9f9;
    }

    .below-content {
        margin-top: 10px;
        text-align: center;
    }

    .comment-link {
        text-decoration: none;
        font-size: 20px;
        color: #007bff;
        transition: color 0.2s;
    }

    .comment-link:hover {
        color: #0056b3;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block content %}
<div class="header">
    <h1>{{ context.title }}</h1>
</div>

<div>
    <p class="date-writer"><span>Posted on:</span> {{ context.posted_date }}</p>
    <p>{{ context.content }}</p>
    <p class="date-writer"><span>Written by:</span> {{ context.author.name }}</p>
</div>

{% if object_list %}
<div id="comments">
    <p>Comments:</p>
    <ul>
        {% for com in object_list %}
        <li>
            <p>{{ com.comment_content }}</p>
            <span>{{ com.commented_date }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="below-content">
    <a class="comment-link" href="{% url 'blog:commentpage' context.id %}">Click here to add comments</a>
</div>
{% endblock %}
